@media (max-width: 768px) {
  #hebergements {
    background: transparent;
  }
  #hebergements h2 {
    width: 82%;
    text-align: left;
  }
  #hebergements .cartes-container {
    flex-direction: column;
    height: auto;
    gap: 0.625rem;
    max-width: 82%;
    width: 82%;
  }
  #hebergements .cartes-container .carte {
    flex: auto;
    width: 100%;
    max-width: 100%;
    padding: 0;
    max-height: 12.5rem;
  }
  #hebergements .cartes-container .carte .image img {
    height: 7.25rem;
  }

  a#plus {
    width: 81%;
    margin: 2.25rem auto 0 auto;
  }

  #populaires {
    border-radius: 0;
    height: auto;
    width: 100;
  }
  #populaires h2 {
    text-align: left;
    width: 81%;
  }
  #populaires h2 i {
    float: right;
  }
  #populaires .cartes-container {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    max-width: 82%;
    width: 82%;
    height: auto;
  }
  #populaires .cartes-container .carte {
    flex: auto;
    width: 100%;
    max-width: 100%;
    padding: 5px;
    max-height: 12.5rem;
    flex-direction: row;
  }
  #populaires .cartes-container .carte .image {
    height: 100%;
    border-radius: 1.5rem 0 0 1.5rem;
  }
  #populaires .cartes-container .carte .image img {
    border-radius: 1.5rem 0 0 1.5rem;
  }

  #activites h2 {
    width: 82%;
    margin: 0 auto 1.5rem auto;
    text-align: left;
  }
  #activites .cartes-container {
    margin: auto;
    flex-direction: column;
    justify-content: center;
    height: auto;
    gap: 0.625rem;
    max-width: 82%;
    width: 82%;
  }
  #activites .cartes-container .carte {
    height: 12rem;
    flex: auto;
    width: 100%;
    max-width: 100%;
  }
  #activites .cartes-container .carte .image {
    height: 8.43rem;
  }
  .footer-container {
    flex-direction: column;
    width: 81%;
    margin: auto;
  }
  .footer-container .info h3 {
    line-height: default;
  }
}
