/*                                    Populaires                                   */
#populaires {
  border-radius: 1.5rem;
  padding: 3rem 0;
}
#populaires h2 {
  width: 82%;
}
#populaires h2 i {
  float: right;
}
#populaires .cartes-container {
  width: 82%;
  height: 31.25rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
#populaires .carte {
  background: white;
  width: 100%;
  border-radius: 1.5rem;
  display: flex;
  padding: 5px;
  height: 9rem;
}
#populaires .cartes-container .image {
  width: 37%;
  height: 100%;
  border-radius: 1.5rem 0 0 1.5rem;
  display: inline-block;
}
#populaires .cartes-container .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.5rem 0 0 1.5rem;
  overflow: hidden;
}
#populaires .cartes-container .description {
  width: 60%;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 2% 6%;
}
#populaires .cartes-container .description .note {
  margin-top: auto;
}
@media (max-width: 1040px) {
  #populaires{
    border-radius: 0;
  }
  #populaires.carte{
    height: 12.5rem;
  }
}