/* Recherche*/
.titre {
  margin-bottom: 1rem;
  line-height: 1rem;
}
#recherche input[type="search"] {
  height: 3rem;
  margin: 0;
  border: 1px solid var(--gris);
  padding: 0.5rem;
  width: 15rem;
  font-size: 1.2rem;
  font-weight: 600;
}
#recherche input[type="search"]::placeholder {
  color: black;
}
#recherche input[type="search"]:focus::placeholder {
  opacity: 0.5;
}
#recherche input[type="search"]:focus {
  outline: none;
}
#recherche label[for="localisation"] {
  background: var(--gris);
  height: 3rem;
  line-height: 3rem;
  padding: 0 1rem;
  border-radius: 1rem 0 0 1rem;
  margin: 0;
  display: inline-block;
  font-size: 1.2rem;
}
#recherche button {
  background: var(--bleu);
  border: none;
  color: white;
  border-radius: 0 1rem 1rem 0;
  padding: 0 1.4rem;
  height: 3rem;
  display: inline-block;
  cursor: pointer;
  font-size: 1.2rem;
}
#recherche button i {
  display: none;
}
#filtres {
  margin: 1rem 0 0 1rem;
  font-size: 1.2rem;
  --hauteur: 2.5rem;
  font-weight: 800;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}
#filtres input {
  display: none;
}
#filtres label {
  line-height: var(--hauteur);
  position: relative;
  border: 2px solid var(--gris);
  border-left: none;
  padding: 0 1.5rem 0 0rem;
  border-radius: 1.7rem;
  margin: 0.5rem;
  cursor: pointer;
  transition: transform 400ms ease-in;
}
#filtres label:hover {
  transform: scale(1.1);
}
#filtres label i {
  display: inline-block;
  background: var(--bleuClair);
  line-height: var(--hauteur);
  width: var(--hauteur);
  text-align: center;
  color: var(--bleu);
  border-radius: 50%;
  margin: 0;
}
#filtres input:checked + label {
  color: rgb(102, 87, 87);
}
#recherche p {
  margin: 1.6rem 0.5rem;
}
#recherche p i {
  border-radius: 50%;
  margin: 0;
}
#filtres input:checked + label {
  color: red;
}
#recherche p i {
  border-radius: 50%;
  margin: 0;
}
#filtres input:checked + label {
  color: rgb(102, 87, 87);
}
#recherche p i {
  text-align: center;
  font-size: 0.6rem;
  line-height: 1.5rem;
  height: 1.5rem;
  width: 1.5rem;
  border: 2px solid var(--gris);
  color: var(--bleu);
  border-radius: 50%;
}
@media (max-width:920px){
  #recherche {
    margin-top: 1.5rem;
  }
}
@media (max-width: 1040px) {
  #recherche {
    width: 91%;
    margin: auto;
  }
  #recherche {
    margin-top: 1.5rem;
  }
  .titre {
    width: 90%;
    margin: auto;
    line-height: 1.4rem;
  }
  #filtres {
    margin-top: 2rem;
  }
  #filtres span {
    width: 100%;
  }
  #search-box {
    display: flex;
    justify-content: center;
  }
  #recherche button {
    padding: 0;
    width: 3rem;
    border-radius: 25%;
    transform: translateX(-25%);
  }
  #recherche button span {
    display: none;
  }
  #recherche button i {
    display: inline;
  }
}
@media only screen and (max-width: 1040) and (min-width: 920) {
  #recherche{
    width: 20%;
  }
}
@media (max-width: 768) {

}

@media (max-width: 364px) {
  #recherche input[type="search"] {
    width: 61vw;
  }
}
